body{
    background-color: #e0ebe8;
}

h1,h3{
    color: #66bfbf;
}

hr{
    border-style: none;
    border-top-style: dotted;
    height: 1 px;
    width: 5%;
    border-width: 5px;
    color: gray;
}